
.code {
  font-family: 'Inconsolata', Consolas, monaco, monospace;
  color: #ECEFF4;
}

.background {
  background-color: #2E3440;
}

.hidden {
  opacity: 0;
}


.floating-up {
  opacity: 0;
  transform: translateY(20px);
  animation: floatUp 0.5s ease-in-out forwards;
}

.delay {
  animation-delay: 0.5s;
}

.floating-up-reverse {
  opacity: 1;
  animation: floatUpReverse 0.5s ease-in-out forwards;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {
	50% { color: transparent }
}

.nord-green {
  color: #A3BE8C;
}

.gray {
  color: #4C566A;
}
@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatUpReverse {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(20px);
  }
}
